
# Ignore the AutoHotkey binaries; to be installed manually or via the PS1 bootstrap script
**/ahkbin*/*

# Ignore custom directory icon
desktop.ini

# Ignore the Mello.Ops custom functions for release
# Only a generalized version should be included in the release
custom/_custom_functions.ahk

