#Requires AutoHotkey v2.0
; !@p for your personal signature
::`!@p::Best regards,`n`nMezclar Mucho`n💬 {Raw}+1-900-MIXALOT`n🌐 Hugh.Mann@github.local

; !@w for your work signature
::`!@w::Best regards,`n`nMezclar Mucho`n💬 {Raw}+1-900-MIXALOT`n🌐 Mucho.Mann@github.local